{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div
  class="flex flex-col items-center justify-center flex-grow min-h-[calc(100vh-64px-64px)] py-10"
>
  <form
    action="/login_home"
    method="post"
    class="bg-gray-800 p-6 rounded shadow-md w-full max-w-sm"
  >
    <h1 class="text-green-400 text-2xl mb-4 text-center">Iniciar sesión</h1>
    <input
      type="text"
      name="usuario"
      placeholder="Usuario"
      class="mb-2 p-2 w-full rounded bg-gray-700 text-gray-100 placeholder-gray-400"
      required
    />
    <input
      type="password"
      name="contraseña"
      placeholder="Contraseña"
      class="mb-4 p-2 w-full rounded bg-gray-700 text-gray-100 placeholder-gray-400"
      required
    />
    <button
      type="submit"
      class="bg-green-700 w-full py-2 rounded hover:bg-green-800 text-white"
    >
      Login
    </button>
  </form>
</div>
{% endblock %}
